#header{
    width: 100%;
    height: 100px;
}

#header .slider{
    height: 100%;
    background: blue;
}

#container{
    min-height: calc(100vh - 100px - 3rem);
}

ul{
    margin: 1rem 0 1rem 6rem;

}

.list-items{
    padding: 0.5rem;
    margin: 0.25rem;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 1.15rem;
}

.list-items:hover{
    background-color: lightblue;
    cursor:pointer
}

.edit{
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background: lightsalmon;
    box-shadow: 3px 3px 10px #aaa;
    margin: 0 5px;
}

.delete{
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background: rgb(195, 29, 29);
    box-shadow: 3px 3px 10px #aaa;
    margin: 0 5px;
}

.edit:hover{
    color:wheat;
    background: rgb(255, 179, 149);
}

.delete:hover{
    color:wheat;
    background: rgb(238, 95, 95);
}